/*  Table  */
.table-container {
  display: flex;
  flex-direction: column;
  width: max-content;
  margin: auto;
}

table {
  border-spacing: 0;
  margin: auto;
}

th {
  border: solid black 1px;
  padding: 1em 0;
}

td {
  border: solid grey 1px;
  border-radius: 2px;
}

/* Table Buttons */
.btn-container {
  padding-top: .1em;
  gap: .2em;
}

.add-btn {
  color: white;
  background-color: #428bca;
  margin-right: .4em;
  border-radius: 3px;
}

.rmv-btn {
  color: white;
  background-color: red;
  border-radius: 3px;
}

/* Table Footer */
.table-ftr {
  display: flex;
  flex-direction: column;
}

.total-debt {
  display: flex;
  background-color: #87ceeb;
  font-weight: 600;
  justify-content: space-between;
  padding: 0 0 0.1em 2em;
  margin: 0.2em 0;
}

.sums-row {
  display: flex;
  gap: 2em;
  font-weight: 600;
}